@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>
    Polityka Prywatności Wunderwaffe Shop

    1. Postanowienia ogólne
    1.1. Niniejsza Polityka Prywatności określa zasady przetwarzania i ochrony danych osobowych użytkowników sklepu internetowego Wunderwaffe Shop.
    1.2. Administrator danych osobowych: [Twoja firma/nazwa osoby prowadzącej działalność gospodarczą], z siedzibą w [adres firmy], kontakt: [adres e-mail, telefon].

    2. Dane zbierane przez Sklep
    2.1. W ramach funkcjonowania Sklepu mogą być zbierane następujące dane osobowe użytkowników:

    Imię i nazwisko,
    Adres e-mail,
    Numer telefonu,
    Adres IP,
    Pliki cookie.
    3. Cele przetwarzania danych
    3.1. Dane użytkowników przetwarzane są w celu:

    Kontaktowania się z użytkownikami w sprawach związanych z realizacją zamówień,
    Obsługi kont użytkowników,
    Usprawnienia działania strony, w tym personalizacji doświadczeń użytkowników, poprzez wykorzystywanie plików cookie.
    4. Pliki cookie
    4.1. Sklep wykorzystuje pliki cookie do zapewnienia poprawnego działania strony, w tym:

    Utrzymania sesji użytkownika,
    Analizy technicznej i poprawy funkcjonalności strony.
    4.2. Użytkownik może w każdej chwili zarządzać ustawieniami plików cookie w swojej przeglądarce.
    5. Udostępnianie danych stronom trzecim
    5.1. Dane osobowe użytkowników nie są udostępniane stronom trzecim, za wyjątkiem sytuacji wymaganych przez przepisy prawa.

    6. Prawa użytkowników
    6.1. Użytkownikom przysługują następujące prawa w odniesieniu do ich danych osobowych:

    Prawo dostępu do swoich danych,
    Prawo do ich poprawiania,
    Prawo do ich usunięcia,
    Prawo do ograniczenia przetwarzania,
    Prawo do przenoszenia danych,
    Prawo do wniesienia sprzeciwu wobec przetwarzania.
    6.2. W celu realizacji swoich praw użytkownik może skontaktować się z administratorem danych, wysyłając wiadomość na adres e-mail: [adres e-mail].
    7. Przechowywanie danych
    7.1. Dane użytkowników są przechowywane przez okres korzystania z konta w Sklepie. Po usunięciu konta dane są niezwłocznie usuwane, chyba że przepisy prawa wymagają ich dalszego przechowywania.

    8. Zmiany w Polityce Prywatności
    8.1. Sklep zastrzega sobie prawo do wprowadzania zmian w Polityce Prywatności. O wszelkich zmianach użytkownicy będą informowani za pośrednictwem strony internetowej Sklepu.

    9. Kontakt
    9.1. W razie pytań lub wątpliwości dotyczących Polityki Prywatności, prosimy o kontakt:

    E-mail: [adres e-mail]
    Telefon: [numer telefonu]
</p>
